.banner {
    background-image: url(../../../images/banner.png);
    min-height: 87vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.banner-text{
    color: white;
    text-align: start;
    
}
.banner-text p{
    font-size: 30px;
    margin-left: 40px;
    padding-top: 50px;
}
.banner-text h1{
    font-size: 60px;
    margin-left: 40px;
    color:rgb(254, 253, 253);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
@media only screen and (max-width:576px) {
    .banner-text p {
        
        margin-left: 10px;
        padding-top: 10px;
    }
    .banner-text h1 {
        margin-left: 10px;
        font-size: 30px;
    }
}