.footer-container{
    background-color: black;
    padding: 10px;
    margin: 20px 0;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

}
.footer-text{
    color: white;
    font-size: 18px;
    text-align: start;
}