.service{
    border:1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.service-btn{
    border: none;
    border-radius: 8px;
    background-color: #192E41;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
}